body{
	background-color: black;
}

* {
  outline: red 1px solid;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top:167px;
  left:520px;
}

.ryu{
	width: 659px;
	height: 494px;
}

.ryu-still,.ryu-ready,.ryu-throwing{
  	width: 659px;
  	height: 494px;
}
.main .ryu-ready,.main .ryu-throwing{
	display: none;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}



.ryu-still{
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready{
  background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing{
  background-image: url('../images/ryu-throwing-hadouken.png');

}